<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="rfqSVGFragment()">
    <svg class="content" >

   
        <!-- <script type="text/ecmascript">
            document.addEventListener("DOMContentLoaded", function (event) {
                var orderCircle = document.getElementById("order");
                var sorCircle = document.getElementById("sor");
                var rfqCircle = document.getElementById("rfq");
                var cqnCircle = document.getElementById("cqn");
                var aqnCircle = document.getElementById("aqn");
                var svgElement = document.querySelector('svg');
                var sorIdValue = svgElement.getAttribute('data-sorid');
                var wokidValue = svgElement.getAttribute('data-wokid');
                var hasselectedrateValue = svgElement.getAttribute('data-hasselectedrate');
                var hascqnValue = svgElement.getAttribute('data-hascqn');
                var rfqidValue = svgElement.getAttribute('data-rfqid');





                sorCircle.addEventListener('click', function () {
                    window.location.href = "/portal/operations/sor/" + sorIdValue + "/2";
                });
                orderCircle.addEventListener('click', function () {
                    window.location.href = "/portal/operations/sor/" + sorIdValue + "/orders/" + wokidValue + "/1";
                });
                rfqCircle.addEventListener('click', function () {

                });
                cqnCircle.addEventListener('click', function () {
                    if (hasselectedrateValue == "false") {
                        window.location.href = "/portal/operations/rfq/" + rfqidValue + "/cqn/new";
                    }
                    else {
                        alert("a rate was already selected");
                    }

                });
                aqnCircle.addEventListener('click', function () {
                    if (hasselectedrateValue == "true")
                        window.location.href = "/portal/operations/sor/" + sorIdValue + "/3";
                    else
                        alert("select a rate");

                });
            });
        </script> -->
    </svg>
</th:block>